version: "3"
services:
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
  serverless-redis-http:
    image: hiett/serverless-redis-http:latest
    ports:
      - "8079:80"
    environment:
      SRH_MODE: env
      SRH_TOKEN: local_dev_token
      SRH_CONNECTION_STRING: "redis://redis:6379"
    depends_on:
      - redis
