.ProseMirror .is-editor-empty:first-child::before {
  float: left;
  height: 0;
  color: var(--novel-stone-400);
  pointer-events: none;
  content: attr(data-placeholder);
}
.ProseMirror .is-empty::before {
  float: left;
  height: 0;
  color: var(--novel-stone-400);
  pointer-events: none;
  content: attr(data-placeholder);
}

/* Custom image styles */

.ProseMirror img {
  transition: filter 0.1s ease-in-out;

  &:hover {
    cursor: pointer;
    filter: brightness(90%);
  }

  &.ProseMirror-selectednode {
    outline: 3px solid #5abbf7;
    filter: brightness(90%);
  }
}

.img-placeholder {
  position: relative;

  &:before {
    position: absolute;
    top: 50%;
    left: 50%;
    box-sizing: border-box;
    width: 36px;
    height: 36px;
    content: "";
    border: 3px solid var(--novel-stone-200);
    border-top-color: var(--novel-stone-800);
    border-radius: 50%;
    animation: spinning 0.6s linear infinite;
  }
}

@keyframes spinning {
  to {
    transform: rotate(360deg);
  }
}

/* Custom TODO list checkboxes – shoutout to this awesome tutorial: https://moderncss.dev/pure-css-custom-checkbox-style/ */

ul[data-type="taskList"] li > label {
  margin-right: 0.2rem;
  user-select: none;
}

@media screen and (max-width: 768px) {
  ul[data-type="taskList"] li > label {
    margin-right: 0.5rem;
  }
}

ul[data-type="taskList"] li > label input[type="checkbox"] {
  position: relative;
  top: 5px;
  display: grid;
  place-content: center;
  width: 1.2em;
  height: 1.2em;
  margin: 0;
  margin-right: 0.3rem;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  background-color: var(--novel-white);
  border: 2px solid var(--novel-stone-900);

  &:hover {
    background-color: var(--novel-stone-50);
  }

  &:active {
    background-color: var(--novel-stone-200);
  }

  &::before {
    width: 0.65em;
    height: 0.65em;
    content: "";
    box-shadow: inset 1em 1em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: center;
    transition: 120ms transform ease-in-out;
  }

  &:checked::before {
    transform: scale(1);
  }
}

ul[data-type="taskList"] li[data-checked="true"] > div > p {
  color: var(--novel-stone-400);
  text-decoration: line-through;
  text-decoration-thickness: 2px;
}

/* Overwrite tippy-box original max-width */

.tippy-box {
  max-width: 400px !important;
}
