/* TipTap Styles */
.unbound-editor .tiptap {
  @apply min-h-96 bg-background border rounded-md p-4;
}

.tiptap > :first-child {
  margin-top: 0;
}

/* List styles */
.tiptap ul,
.tiptap ol {
  padding: 0 1rem;
  margin: 1.25rem 1rem 1.25rem 0.4rem;
}

.tiptap ul li p,
.tiptap ol li p {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

/* Heading styles */
.tiptap h1,
.tiptap h2,
.tiptap h3,
.tiptap h4,
.tiptap h5,
.tiptap h6 {
  margin-top: 2.5rem;
  line-height: 1.1;
  text-wrap: pretty;
}

.tiptap h1,
.tiptap h2 {
  margin-top: 3.5rem;
  margin-bottom: 1.5rem;
}

.tiptap h1 {
  font-size: 1.4rem;
}

.tiptap h2 {
  font-size: 1.2rem;
}

.tiptap h3 {
  font-size: 1.1rem;
}

.tiptap h4,
.tiptap h5,
.tiptap h6 {
  font-size: 1rem;
}

/* Code and preformatted text styles */
.tiptap code {
  padding: 0.25em 0.3em;
  font-size: 0.85rem;
  border-radius: 0.4rem;
  @apply bg-secondary text-secondary-foreground;
}

.tiptap pre {
  padding: 0.75rem 1rem;
  margin: 1.5rem 0;
  font-family: "JetBrainsMono", monospace;
  border-radius: 0.5rem;
  @apply bg-muted text-muted-foreground;
}

.tiptap pre code {
  padding: 0;
  font-size: 0.8rem;
  color: inherit;
  background: none;
}

.tiptap blockquote {
  padding-left: 1rem;
  margin: 1.5rem 0;
  @apply border-l-4 border-muted;
}

.tiptap hr {
  margin: 2rem 0;
  @apply border-t border-border;
}

/* Bubble menu */
.bubble-menu {
  display: flex;
  padding: 0.2rem;
  border-radius: 0.7rem;
  @apply bg-background border border-border shadow-md;
}

.bubble-menu button {
  background-color: unset;
}

.bubble-menu button:hover {
  @apply bg-muted;
}

.bubble-menu button.is-active {
  @apply bg-primary text-primary-foreground;
}

.bubble-menu button.is-active:hover {
  @apply bg-primary/90;
}

/* Floating menu */
.floating-menu {
  display: flex;
  padding: 0.1rem;
  border-radius: 0.5rem;
  @apply bg-muted;
}

.floating-menu button {
  padding: 0.275rem 0.425rem;
  background-color: unset;
  border-radius: 0.3rem;
}

.floating-menu button:hover {
  @apply bg-muted/80;
}

.floating-menu button.is-active {
  @apply bg-background text-primary;
}

.floating-menu button.is-active:hover {
  @apply text-primary/90;
}
