@reference "../../styles/globals.css";

html {
  scroll-behavior: smooth;
}

.toc-item {
  @apply text-sm;
}

.docs-toc {
  @apply hidden xl:sticky xl:top-[4.5rem] xl:-mr-6 xl:block xl:h-[calc(100vh-4.5rem)] xl:flex-none xl:overflow-y-auto xl:py-16 xl:pr-6;
}

ol.toc-level {
  @apply mt-2 space-y-3 text-neutral-500 dark:text-neutral-400;
}
ol.toc-level:not(.toc-level-1) {
  @apply pl-5;
}

ol.toc-level a {
  @apply font-normal text-neutral-500 hover:text-neutral-700 dark:text-neutral-400 dark:hover:text-neutral-300;
}

code:after {
  content: none !important;
}

code:before {
  content: none !important;
}

code {
  padding: 1rem;
  overflow-x: auto;
  counter-reset: line;
}

code > [data-line]::before {
  display: inline-block;
  width: 1rem;
  margin-right: 1rem;
  color: text-neutral-500;
  text-align: right;
  content: counter(line);
  counter-increment: line;
}

code[data-line-numbers-max-digits="2"] > [data-line]::before {
  width: 1rem;
}

code[data-line-numbers-max-digits="3"] > [data-line]::before {
  width: 1rem;
}

[data-rehype-pretty-code-title] {
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  @apply bg-neutral-100;
  @apply text-neutral-200;
}

figcaption + pre {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
